.daily-view-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

.page-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.task-list {
    margin-top: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
}

.task-name {
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

.task-status{
    font-size: 18px;
    color: gray;
    font-weight: bold;
}


.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
}
